.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: black;
  border-bottom: 2px solid red;
  box-shadow: 0 0 25px red;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.nav-bar:hover {
  border-bottom: 2px solid #4a90e2;
  box-shadow: 0 0 25px rgba(74, 144, 226, 0.8);
}

.nav-bar:hover .nav-link {
  color: #4a90e2;
  text-shadow: 0 0 5px rgba(74, 144, 226, 0.6);
}

.nav-link {
  font-size: 18px;
  color: #ff3333;
  text-decoration: none;
  position: relative;
  padding: 10px 20px;
  transition: 0.4s ease;
  text-shadow: 0 0 5px red;
}

/* Neon underline */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: red;
  transition: 0.4s ease;
  transform: translateX(-50%);
  box-shadow: 0 0 10px red;
}

/* Hover = portal open */
.nav-link:hover {
  color: #4a90e2;
  text-shadow: 0 0 10px rgba(74, 144, 226, 0.8), 0 0 25px rgba(107, 92, 231, 0.6);
  transform: scale(1.2);
}

.nav-link:hover::after {
  width: 100%;
  background: #4a90e2;
  box-shadow: 0 0 10px rgba(74, 144, 226, 0.8);
}

/* Flicker animation */
@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.nav-link:hover {
  animation: flicker 0.15s infinite;
}